<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <p class="copyright">&copy; <%= year %> CSE Motors. Crafted for CSE 340. 
    <a href="/error/trigger" style="margin-left: 1rem;">Trigger Error</a>
  </p>
</footer>
