<nav aria-label="Primary">
    <ul>
        <li><a href="/" aria-current="page">Home</a></li>
        <li><a href="#custom">Custom</a></li>
        <li><a href="#sedans">Sedan</a></li>
        <li><a href="#suvs">SUV</a></li>
        <li><a href="#trucks">Truck</a></li>
    </ul>
</nav>
