<div class="error-container">
  <% if (title) { %>
  <h1><%= title %></h1>
  <% } %>
  
  <div class="error-message">
    <p><%= message %></p>
  </div>
  
  <div class="error-actions">
    <p>Here are some helpful links:</p>
    <ul>
      <li><a href="/">Return to Home</a></li>
      <li><a href="/inv">Browse Inventory</a></li>
    </ul>
  </div>
</div>
